@media (min-width: 768px) {
    .prevButton,
    .nextButton {
      display: block; /* Tampilkan tombol navigasi hanya pada tampilan desktop */
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      padding: 10px;
      border: none;
      cursor: pointer;
      z-index: 1;
      font-size: 16px;
    }
  
    .prevButton {
      left: 10px;
      border-top-right-radius: 0; /* Hapus sudut bulat pada tombol Prev */
      border-bottom-right-radius: 0; /* Hapus sudut bulat pada tombol Prev */
    }
  
    .nextButton {
      right: 10px;
      border-top-left-radius: 0; /* Hapus sudut bulat pada tombol Next */
      border-bottom-left-radius: 0; /* Hapus sudut bulat pada tombol Next */
    }
    .hideOnDesktop {
        display: none;
      }
  }
  
  /* Sembunyikan tombol navigasi pada tampilan seluler */
  @media (max-width: 767px) {
    .prevButton,
    .nextButton {
      display: none; /* Sembunyikan tombol navigasi pada tampilan seluler */
    }
  }